/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

button.close {
  background-color: #aa66cc;
  color: white;
  border: none;
  border-radius: 1500;
}

.mr{
  margin-right: 5px!important;
}
